{
"platform"  : "AWS",
"region"    : "us-east-2",
"nodeType"  : "c5n.18xlarge",
"nodeCount" : 1,
"tags"      : [ 
                { "Key": "Name", "Value": "IOOS-cloud-sandbox" },
                { "Key": "Project", "Value": "IOOS-cloud-sandbox" }
              ],
"image_id"  : "ami-052928467e84be78c",
"key_name"  : "ioos-sandbox",
"sg_ids"    : [
  "sg-03e4479bc61057a30",
  "sg-07588b4230c8e29b0",
  "sg-03b2af1315a3fc526"
  ],
"subnet_id" : "subnet-08689a3c6a43e807d",
"placement_group" : "Patrick-ioos-cloud-sandbox_Terraform_Placement_Group"
}
