{
"platform"  : "AWS",
"region"    : "us-east-1",
"nodeType"  : "c5.9xlarge",
"nodeCount" :  1,
"tags"      : [ 
                { "Key": "Name", "Value": "ADNOC-forecast" },
                { "Key": "NAME", "Value": "adnoc-fcst" },
                { "Key": "Project", "Value": "ADNOC" }
              ],
"image_id"  : "ami-01f7b31e6a631b859",
"key_name"  : "forecasting",
"sg_ids"    : ["sg-073fcfb0ab31a1d62","sg-0b82904b0c646072d"],
"subnet_id" : "subnet-f19221a8",
"placement_group" : "ADNOC-cluster-placement"
}
