{
"platform"  : "AWS",
"region"    : "us-east-1",
"nodeType"  : "c5n.18xlarge",
"nodeCount" : 4,
"tags"      : [ 
                { "Key": "Name", "Value": "IOOS-cloud-sandbox" },
                { "Key": "Project", "Value": "IOOS-cloud-sandbox" },
                { "Key": "NAME", "Value": "nosofs-fcst" },
                { "Key": "Classification", "Value": "DMZ Production" }
              ],
"image_id"  : "ami-032517fbd12604cb1",
"key_name"  : "patrick-ioos-cloud-sandbox",
"sg_ids"    : ["sg-0af7b6ac21dfbda12", "sg-0d5d29832f98cc75f", "sg-0f16ccd7d5491e0fe"],
"subnet_id" : "subnet-ad6f1e82",
"placement_group" : "IOOS-cloud-sandbox-cluster-placement-group"
}
