**/__pycache__
.DS_Store
tmp
*.egg-info/
*.swp
.ipynb_checkpoints
**/*.ipynb
.pytest_cache/
cloudflow/*.out
cloudflow/*.log
**/worker-*.dirlock
**/purge.lock
**/global.lock
.idea/
.eggs/
dist/
docs/build/
cloudflow/notebooks/docs/
**/.terraform/*
*.tfstate
*.tfstate.*
*.lock.*
terraform/terraform-notes.txt
terraform/SAVE.mysettings.tfvars
*.pem
*.key
*/.secret
**/*nda*
dev.tfvars
my.tfvars
my.plan
build/
cloudflow/build/
.nfs*
cloudflow/cluster/SAVE.AWSCluster.py
scripts/system/ioos.sb.users
