**/__pycache__
.DS_Store
tmp
*.egg-info/
.ipynb_checkpoints
worflow/*.ipynb
.pytest_cache/
workflow/dist
workflow/*.out
**/worker-*.dirlock
**/purge.lock
**/global.lock
workflow/workflows/lo.out
.idea/
workflow/.idea/
workflow/venv/
.eggs/
dist/
docs/build/
cloudflow/notebooks/docs/
**/.terraform/*
*.tfstate
*.tfstate.*
*.lock.*
terraform/terraform-notes.txt
terraform/SAVE.mysettings.tfvars
*.pem
*.key
*/.secret
**/*nda*
dev.tfvars
my.tfvars
my.plan
