{
  "JOBTYPE"   : "adcirc_template",
  "OFS"       : "adcirc",
  "EXEC"      : "/save/ec2-user/OWP/adcirc/build",
  "MODEL_DIR" : "/save/ec2-user/OWP/adcirc-testsuite/adcirc/adcirc_global-alidisp+buoyancy-2d-parallel"
}
