{
  "JOBTYPE"   : "dflowfm_template",
  "OFS"       : "dflowfm",
  "EXEC"      : "/save/ec2-user/OWP/DFlow/delft3d/install/bin/dflowfm",
  "DFLOW_LIB" : "/save/ec2-user/OWP/DFlow/delft3d/install/lib",
  "MODEL_DIR" : "/save/ec2-user/OWP/DFlowFM_Florence_GAHM"
}
