{
  "JOBTYPE"   : "nwmv3_wrf_hydro_template",
  "OFS"       : "nwmv3_wrf_hydro",
  "EXEC"      : "/save/ec2-user/OWP/chps-wrf-hydro/trunk/NWC/nwm.vX.X/sorc/nwm.fd/build/Run/wrf_hydro_NoahMP.exe",
  "MODEL_DIR" : "/save/ec2-user/OWP/NWM_v3_retrospective_run"
}
