{
  "JOBTYPE"   : "ucla-roms",
  "OFS"       : "ucla-roms",
  "NCORES"    : 192,
  "EXEC"      : "/save/ec2-user/ucla-roms/Work/Rivers_ana/roms",
  "MODEL_DIR" : "/save/ec2-user/ucla-roms/Work/Rivers_ana",
  "IN_FILE"   : "/save/ec2-user/ucla-roms/Work/Rivers_ana/river_ana.in"
}
