{
"platform"  : "AWS",
"region"    : "us-east-1",
"nodeType"  : "t3.2xlarge",
"nodeCount" : 1,
"tags"      : [ 
                { "Key": "Name", "Value": "IOOS-cloud-sandbox" },
                { "Key": "Project", "Value": "IOOS-cloud-sandbox" }
              ],
"image_id"  : "ami-052f3e9220b9961dc",
"key_name"  : "patrick-ioos-cloud-sandbox",
"sg_ids"    : ["sg-006041073bfa7b072", "sg-0a48755f7b926b051", "sg-04a6bcecaec589f64"],
"subnet_id" : "subnet-050093b957519d622",
"placement_group" : "IOOS-cloud-sandbox-cluster-placement-group"
}
