{
"platform"  : "AWS",
"region"    : "us-east-2",
"nodeType"  : "c5n.18xlarge",
"nodeCount" : 1,
"tags"      : [ 
                { "Key": "Name", "Value": "IOOS-cloud-sandbox" },
                { "Key": "Project", "Value": "IOOS-cloud-sandbox" }
              ],
"image_id"  : "ami-076b2467dfd17d05e",
"key_name"  : "ioos-sandbox",
"sg_ids"    :  [
  "sg-097de0758bfa9f7ad",
  "sg-0df5c7be2a3a1ac6a",
  "sg-00154dc46495d6e51",
],
"subnet_id" : "subnet-0b362737f7ccf430c",
"placement_group" : "Patrick-ioos-cloud-sandbox_Terraform_Placement_Group"
}
